.header {
  display: flex;
  background-color: lightsteelblue;

  /**ap: 630px;**/

  justify-content: space-between;
}
.logo img {
  width: 100px;
}
.nav-items > ul {
  display: flex;
  list-style: none;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

.res-img {
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.res-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* crops neatly */
  border-radius: 8px;
}
.res-card {
  display: flex;
  flex-wrap: wrap;
  gap: 67px;
}

.card {
  gap: 10px;
  padding: 5px;
  margin: 10px;
  width: 245px;
  height: 400px;
  background-color: lightyellow;
}
.card:hover {
  cursor: pointer;
}
.body {
  margin: 10px;
  padding: 10px;
}
.shimmer-card {
  height: 400px;
  width: 245px;
  background-color: lightgray;
  padding: 5px;
  gap: 10px;
  margin: 10px;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}
